# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/.depend
src/.DS_Store
.vscode/settings.json
.vscode/c_cpp_properties.json
*.tmp
src/nn-62ef826d1a6d.nnue
src/stockfish
